<!DOCTYPE html>
<html>
<head>
  <title>Tastea</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class='col-xs-3 title'>
			Tastea
		</div>
		<div class='col-xs-5 slogan'>
			Find the best milk tea place in your area
		</div>
		<div class='col-xs-4 link'>
			<%= link_to 'Add New Place', '#' %>
		</div>
	</header>
	<hr />
<br class='clear'/>


<%= yield %>

</body>
</html>
